.button {
  width: 80px;
  height: 30px;
  font: inherit;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #625f63;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.button:active {
  border-color: #625f63;
}

.button:focus {
  outline: none;
}
.available {
  background-color: #00ab66;
  color: white;
}
.not-available {
  background-color: #ccc;
  color: #625f63;
}
.history {
  background-color: aliceblue;
}
