.button {
  background-color: #00ab66;
  color: white;
  width: 80px;
  height: 30px;
  font: inherit;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.button:disabled {
  background-color: #ccc;
}
.button:hover,
.button:active {
  border-color: #625f63;
}

.button:focus {
  outline: none;
}

.history {
  background-color: rgb(95 ,95 ,218);
}
