.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  width: 330px;
}
.header-wrapper{
  display: flex;
  align-items: center;
}
.vehicles-wrapper {
  font-size: 16px;
  color: black;
  height: 200px;
  width: 400px;
}

.bold-text {
  font-weight: bold;
}
.occupy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.text-disable {
  font-size: 10px;
  visibility: hidden;
}
.not-available-and-owner{
  visibility: hidden;
}
.color-active {
  background-color: lightseagreen;
}
.available-color{
  font-size: 12px;
  font-weight: bold;
  color: #00AB66;
}
.unavailable-color{
  font-size: 12px;
  font-weight: bold;

  color:red
}
.filter-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.search {
  border-radius: 6px;
  border-color:black;
  width: 365px;
  height: 23px;
}